@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post" asp-page="/Index">
        <input type="text" asp-for="Input" class="form-control"/>
        <span asp-validation-for="Input" class="d-block text-danger"></span>
        <input type="submit" class="btn btn-sm" value="submit"/>
    </form>
</div>
